body{
    background-color: #264653;
    color: #2a9d8f;
}

div {
    margin-top: 5%;
    text-align: center;
    font-family: 'Abril Fatface', cursive;
}

h1 {
    text-transform: uppercase;
}

img {
    border: 5px solid #e9c46a;
    width: 900px;
}

button {
    background-color: grey;
    color: white;
    margin-top: 4%;
}
